* {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            min-height: 100vh;
            background: #000;
            /*
            background: linear-gradient(-90deg, red, blue, yellow, pink);
            background-size: 500% 500%;
            animation: back 10s ease infinite;
            */
        }
          /*
        @keyframes back {
            0% { background-position: 25%;}
            25% { background-position: 50%;}
             50% { background-position: 75%;}
             100% { background-position: 100%;}
        }
             */
        .calculator{
           
              /*
            background: linear-gradient(-90deg, red, blue, yellow, pink);
             background-size: 500% 500%;
            animation: back 10s ease infinite;
            */
            width: 320px;
           padding: 10px;
           border-radius: 30px;
           display: flex;
           justify-content: center;
           align-items: center;
         margin-top: 10px;
           flex-wrap: wrap;
           flex-direction: column;
           box-shadow: 0 0 10px #88848462;
        }
        .header h1{
            color: #fff;
            text-align: center;
           font-size: 25px;
           text-transform: capitalize;
           padding: 6px 2px 15px 2px;
        }
        .input-box {
            position: relative;
        }
      .input-field {
        width: 100%;
        height: 50px;
        border-radius: 20px;
        border: none;
        /*  animation: bordercolor 10s ease infinite; */
        color: #fff;
        font-size: 18px;
        padding: 5px 55px 4px 10px
      }
      .input-box p {
        color: #fff;
         text-align: center;
        position: relative;
      }
      /*
      @keyframes bordercolor {
        0% {border: 2px solid red; box-shadow: 0 0 10px red;}
        25% {border: 2px solid blue; box-shadow: 0 0 10px blue;}
        50% {border: 2px solid yellow; box-shadow: 0 0 10px yellow;}
        100% {border: 2px solid pink; box-shadow: 0 0 10px pink;}
      }
        */
      .button {
        position: relative;
        margin-top: 20px;
      margin-bottom: 5px;
      
     
     
      }
      .btn {
        width: 85px;
        height: 50px;
        margin: 5px;
        text-align: center;
        color: #fff;
        background-color: #515151;
         /* 
             background-size: 500% 500%;
             animation: back 10s ease infinite;
             */
            border: none;
            /* animation: bordercolor 10s ease infinite; */
             font-size: 18px;
             font-weight: 650;
            border-radius: 30px;
          padding: 10px;
          text-align: center;
          box-shadow: 0 0 5px #515151;
             cursor: pointer;
             transition: 0.5s ease;
      }
        .btn:active {
        transform: translateY(5px);
        }
       /* 
      .btn:hover {
         background: linear-gradient(-90deg, red, blue, yellow, pink);
           background-size: 500% 500%;
            animation: back 10s ease infinite;
      }
            */
      .wide {
        display: flex;
      }
      .sign {
        background-color: #FEA203;
      }
      .result {
        width: 50%;
       
      }
      .clear {
        position: absolute;
        right: 20px;
        transform: translateY(-80%);
        top: 50%;
        color: #fff;
        font-weight: 650;
        font-size: 28px;
        cursor: pointer;
      }
      
      @media screen and (max-width: 330px) {
        .calculator {
          width: 100%;
           margin: 10px;

        }
        .btn {
          width: 79px;
        }
        .result {
          width: 50%;
        }
    }
   
   
        .footer {
          bottom: 0;
          margin-bottom: 5px;
          margin-top: 10px;
        }
        .copyright p {
          color: #fff;
          padding: 0 5px 0 5px;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
        }
        
        
